body { background: #ae3a78; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 49px; display: flex; }
.block-cache-0 { color: #c44694; font-size: 16px; margin-bottom: 5px; }
.block-filter-1 { color: #91bf13; font-size: 21px; margin-bottom: 5px; }
.block-cache-2 { color: #7d4991; font-size: 20px; margin-bottom: 5px; }
.block-payment-3 { color: #75ab28; font-size: 16px; margin-bottom: 5px; }
.block-user-4 { color: #beb8ea; font-size: 14px; margin-bottom: 5px; }